click==5.1
Cython==0.23.4
discord.py==0.8.0
dominate==2.1.16
Flask==0.10.1
flask-appconfig==0.11.1
Flask-Bootstrap==3.3.5.7
Flask-Debug==0.4.3
Flask-Login==0.2.9
flask-nav==0.5
Flask-Stormpath==0.0.1
Flask-WTF==0.12
gunicorn==19.3.0
image==1.4.1
imgurpython==1.1.6
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
numpy==1.10.1
pbr==1.8.1
Pillow==3.0.0
requests==2.8.1
six==1.10.0
stevedore==1.9.0
stormpath==1.0.1
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
visitor==0.1.2
waitress==0.8.10
Werkzeug==0.11.2
wheel==0.24.0
ws4py==0.3.4
WTForms==2.0.2
