.team_photo {
    width: 70%;
    margin-bottom: 15px;
    margin-top: 15px;
}
.description {
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}