.home_logo {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 25px;
}
.description {
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.main_description_text {
    text-align: center;
    font-size: 130%;
}