body {
    background-image: url("/static/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main_display {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
h1 {
    text-align: center;
    margin: 0;
    font-size: 72px;
}
h3 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: center;
    color: #aaa;
}
.main_arrow {
    position: absolute;
    height: 50%;
    vertical-align: middle;
    transform: translateX(-60%) rotate(270deg);
}
.no_select {
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}