<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="assets/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Vibe</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    
    <!-- Bootstrap core CSS     -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet"/>
    
    <!--  Light Bootstrap Table core CSS    -->
    <link href="{{ url_for('static', filename='css/light-bootstrap-dashboard.css') }}"rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />
    
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/pe-icon-7-stroke.css') }}"rel="stylesheet" />
    
</head>

<body> 

  <div class="wrapper">
    <div class="sidebar" data-color="blue">
    
      <div class="sidebar-wrapper">
            <div class="logo">
                <a href="main.html" class="simple-text">
                    Ja Feelz
                </a>
            </div>
                       
            <ul class="nav">
                <li>
                    <a href="home.html">
                        <i class="pe-7s-home"></i> 
                        <p>Home</p>
                    </a>        
                </li>
                <li>
                    <a href="maps.html">
                        <i class="pe-7s-map-marker"></i> 
                        <p>Maps</p>
                    </a>        
                </li>
                <li>
                    <a href="works.html">
                        <i class="pe-7s-science"></i> 
                        <p>How It Works</p>
                    </a>
                </li> 
                <li class="active">
                    <a href="future.html">
                        <i class="pe-7s-timer"></i> 
                        <p>Future Plans</p>
                    </a>
                </li>  
                <li>
                    <a href="about.html">
                        <i class="pe-7s-user"></i> 
                        <p>About Us</p>
                    </a>
                </li> 
            </ul> 
      </div>
    </div>
    
    <div class="main-panel">  
              
        <div class="content">
            <div class="container-fluid">
              <div class="row">                   
                  <div class="col-md-12">
                    <div class="card">
                      <div class="header">
                        <h1 align="center">
                          Looking Forward
                          <br>
                        </h1>
                      </div>
                      <hr size=7>
                      <div class="content">
                        <div class="col-xs-8 col-sm-6">
                          <img src="{{ url_for('static', filename='img/maps-preview.jpg') }}" class="preview_image">
                        </div>
                        <div class="col-xs-4 col-sm-6">
                          <h3 class="work_header">Scaling Framework</h3>
                          <p>
                            In the future, we would like to make a more robust framework that can scrape more images from different parts of the globe from Twitter. In this hackathon, we were limited by API calls in a condensed frametime, but this is not a limitation outside of this competition. We would also want to make use of the Microsoft Azure Machine Learning endpoints to batch process the data we mined from the images.
                          </p>
                        </div>
                      </div>
                      <div class="content">
                        <div class="col-xs-8 col-sm-6">
                          <img src="{{ url_for('static', filename='img/maps-preview.jpg') }}" class="preview_image">
                        </div>
                        <div class="col-xs-4 col-sm-6">
                          <h3 class="work_header">Improving Algorithm Accuracy</h3>
                          <p>
                            Time was definitely one of the main constraints in this machine learning problem. There are many ways in which the classifier could have been improved. One improvement would be the creation of more data. Although we made an infrastructure to generate such a dataset, more time would be needed to populate it. Further, a more sophisticated algorithm could be used to classify the data (such as a kernelized SVM, neural networks), as the bias indicated some underfitting. Lastly, if enough data were collected, we could use k-means clustering, a popular unsupervised learning algorithm, to classify clusters and then label them through "semi-supervised" learning by labeling one data point in the cluster. 
                          </p>
                        </div>
                      </div>
                      <div class="content">
                        <div class="col-xs-8 col-sm-6">
                          <img src="{{ url_for('static', filename='img/maps-preview.jpg') }}" class="preview_image">
                        </div>
                        <div class="col-xs-4 col-sm-6">
                          <h3 class="work_header">Add Features to Map</h3>
                          <p>
                            Lastly, we would add more functionality to the map. As mentioned before the framework could be scaled to output even more images per location, and expand the location. We could also... PLEASE INSERT MORE TODO
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        
    </div>   
  </div>

</body>

  <!--   Core JS Files   -->
  <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>

  <!--  Checkbox, Radio & Switch Plugins -->
  <script src="{{ url_for('static', filename='js/bootstrap-checkbox-radio-switch.js') }}"></script>

  <!--  Charts Plugin -->
  <script src="{{ url_for('static', filename='js/chartist.min.js') }}"></script>

  <!--  Notifications Plugin    -->
  <script src="{{ url_for('static', filename='js/bootstrap-notify.js') }}"></script>
s
  <!--  Google Maps Plugin    -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
  <script src="{{ url_for('static', filename='js/light-bootstrap-dashboard.js') }}"></script>

  <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
  <script src="{{ url_for('static', filename='js/demo.js') }}"></script>
  
  <script type="text/javascript">
      $(document).ready(function(){
          
          demo.initChartist();
            
      });
  </script>
    
</html>