<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="assets/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Ja Feelz</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    
    <!-- Bootstrap core CSS     -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet"/>
    
    <!--  Light Bootstrap Table core CSS    -->
    <link href="{{ url_for('static', filename='css/light-bootstrap-dashboard.css') }}"rel="stylesheet"/>
    
    
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{{ url_for('static', filename='css/demo.css') }}" rel="stylesheet" />
    
        
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/pe-icon-7-stroke.css') }}"rel="stylesheet" />
    
</head>

<body> 

  <div class="wrapper">
    <div class="sidebar" data-color="blue">
    
      <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Ja Feelz
                </a>
            </div>
                       
            <ul class="nav">
                <li class="active">
                    <a href="#collapse_emotions" data-toggle="collapse">
                        <i class="pe-7s-map-marker"></i> 
                        <p>Maps</p>
                    </a>
                    <div class="panel-collapse collapse" id="collapse_emotions">
                      <div class="panel-body">
                        <a href="#" class="list-group-item">All</a>
                        <a href="#" class="list-group-item">Anger</a>
                        <a href="#" class="list-group-item">Disgust</a>
                        <a href="#" class="list-group-item">Fear</a>
                        <a href="#" class="list-group-item">Happiness</a>
                        <a href="#" class="list-group-item">Neutral</a>
                        <a href="#" class="list-group-item">Sadness</a>
                        <a href="#" class="list-group-item">Surprise</a>
                      </div>
                    </div>
                </li>
                <li>
                    <a href="works.html">
                        <i class="pe-7s-science"></i> 
                        <p>How It Works</p>
                    </a>
                </li>
                <li>
                    <a href="future.html">
                        <i class="pe-7s-timer"></i> 
                        <p>Future Plans</p>
                    </a>
                </li>  
                <li>
                    <a href="about.html">
                        <i class="pe-7s-user"></i> 
                        <p>About Us</p>
                    </a>
                </li> 
            </ul> 
      </div>
    </div>
    
    <div class="main-panel">  
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
          google.load("visualization", "1", {packages:["geochart"]});
          google.setOnLoadCallback(drawRegionsMap);
          function drawRegionsMap() {
            var data = google.visualization.arrayToDataTable([
              ['Country',   'Latitude'],
              ['Algeria', Math.floor((Math.random() * 10) + 1)], ['Angola', Math.floor((Math.random() * 10) + 1)], ['Benin', Math.floor((Math.random() * 10) + 1)], ['Botswana', Math.floor((Math.random() * 10) + 1)],
              ['Burkina Faso', Math.floor((Math.random() * 10) + 1)], ['Burundi', Math.floor((Math.random() * 10) + 1)], ['Cameroon', Math.floor((Math.random() * 10) + 1)],
              ['Canary Islands', Math.floor((Math.random() * 10) + 1)], ['Cape Verde', 15],
              ['Central African Republic', 4], ['Ceuta', Math.floor((Math.random() * 10) + 1)], ['Chad', 12],
              ['Comoros', Math.floor((Math.random() * 10) + 1)], ['Cote d\'Ivoire', 6],
              ['Democratic Republic of the Congo', Math.floor((Math.random() * 10) + 1)], ['Djibouti', 12],
              ['Egypt', Math.floor((Math.random() * 10) + 1)], ['Equatorial Guinea', 3], ['Eritrea', Math.floor((Math.random() * 10) + 1)],
              ['Ethiopia', 9], ['Gabon', 0], ['Gambia', 13], ['Ghana', 5],
              ['Guinea', 10], ['Guinea-Bissau', 12], ['Kenya', -1],
              ['Lesotho', Math.floor((Math.random() * 10) + 1)], ['Liberia', 6], ['Libya', 12], ['Madagascar', null],
              ['Madeira', 3], ['Malawi', Math.floor((Math.random() * 10) + 1)], ['Mali', 12], ['Mauritania', 18],
              ['Mauritius', -20], ['Mayotte', Math.floor((Math.random() * 10) + 1)], ['Melilla', Math.floor((Math.random() * 10) + 1)],
              ['Morocco', Math.floor((Math.random() * 10) + 1)], ['Mozambique', Math.floor((Math.random() * 10) + 1)], ['Namibia', -2],
              ['Niger', 14], ['Nigeria', 8], ['Republic of the Congo', -1],
              ['Réunion', -1], ['Rwanda', -2], ['Saint Helena', -16],
              ['São Tomé and Principe', 0], ['Senegal', 15],
              ['Seychelles', -5], ['Sierra Leone', 8], ['Somalia', 2],
              ['Sudan', 15], ['South Africa', Math.floor((Math.random() * 10) + 1)], ['South Sudan', 5],
              ['Swaziland', Math.floor((Math.random() * 10) + 1)], ['Tanzania', -6], ['Togo', 6], ['Tunisia', 6],
              ['Uganda', 1], ['Western Sahara', Math.floor((Math.random() * 10) + 1)], ['Zambia', Math.floor((Math.random() * 10) + 1)],
              ['Zimbabwe', Math.floor((Math.random() * 10) + 1)], ['United States', 4], ['China', Math.floor((Math.random() * 10) + 1)], ['Russia', Math.floor((Math.random() * 10) + 1)], ['Brazil', Math.floor((Math.random() * 10) + 1)], ['Chile', 12], ['New Zealand', Math.floor((Math.random() * 10) + 1)], ['Philippines', -3], ['Greenland', Math.floor((Math.random() * 10) + 1)]
            ]);


            var options = {
              colorAxis: {colors: ['#E3B505', '#95190c', '#610345', '#107e7d', '#044B7F', '#c4504a', '#af97de']},
              backgroundColor: '#81d4fa',
              defaultColor: '#f5f1df',
              legend: 'none',
            };

            var chart = new google.visualization.GeoChart(document.getElementById('geochart-colors'));
            chart.draw(data, options);
          };
        </script>
      <div id="geochart-colors" style=center></div>
    </div>   
  </div>

</body>

  <!--   Core JS Files   -->
  <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>

  <!--  Checkbox, Radio & Switch Plugins -->
  <script src="{{ url_for('static', filename='js/bootstrap-checkbox-radio-switch.js') }}"></script>

  <!--  Charts Plugin -->
  <script src="{{ url_for('static', filename='js/chartist.min.js') }}"></script>

  <!--  Notifications Plugin    -->
  <script src="{{ url_for('static', filename='js/bootstrap-notify.js') }}"></script>

  <!--  Google Maps Plugin    -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
  <script src="{{ url_for('static', filename='js/light-bootstrap-dashboard.js') }}"></script>

  <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
  <script src="{{ url_for('static', filename='js/demo.js') }}"></script>
    
</html>