<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="assets/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Vibe</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    
    <!-- Bootstrap core CSS     -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet"/>
    
    <!--  Light Bootstrap Table core CSS    -->
    <link href="{{ url_for('static', filename='css/light-bootstrap-dashboard.css') }}"rel="stylesheet"/>
    
        
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/pe-icon-7-stroke.css') }}"rel="stylesheet" />
    
</head>

<body> 

  <div class="wrapper">
    <div class="sidebar" data-color="blue">
    
      <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                  Vibe
                </a>
            </div>
                       
            <ul class="nav">
                <li>
                    <a href="home.html">
                        <i class="pe-7s-home"></i> 
                        <p>Home</p>
                    </a>        
                </li>
                <li>
                    <a href="maps.html">
                        <i class="pe-7s-map-marker"></i> 
                        <p>Maps</p>
                    </a>        
                </li>
                <li class="active">
                    <a href="works.html">
                        <i class="pe-7s-science"></i> 
                        <p>How It Works</p>
                    </a>
                </li> 
                <li>
                    <a href="future.html">
                        <i class="pe-7s-timer"></i> 
                        <p>Future Plans</p>
                    </a>
                </li>  
                <li>
                    <a href="about.html">
                        <i class="pe-7s-user"></i> 
                        <p>About Us</p>
                    </a>
                </li>
            </ul> 
      </div>
    </div>
    
    <div class="main-panel">  
              
        <div class="content">
            <div class="container-fluid">
              <div class="row">                   
                  <div class="col-md-12">
                    <div class="card">
                      <div class="header">
                        <h1 align="center">
                          How We Did It
                        </h1>
                      </div>
                      <hr size=7>
                      <div class="content">
                        <div class="col-xs-8 col-sm-6">
                          <img src="{{ url_for('static', filename='img/will.jpg') }}" class="preview_image">
                        </div>
                        <div class="col-xs-4 col-sm-6">
                          <h3 class="work_header">Labelling Emotions</h3>
                          <p>
                            For this part, we mined and built a collection of 
                            random images through the <b>Imgur API</b>. These
                            images were shown to different people, and we used
                            a Python script with <b>OpenCV</b> to capture a
                            subject's facial reaction in response to seeing
                            the image. By using <b>Microsoft Project Oxford
                            Emotion API</b>, we recorded the emotions for each face in
                            the captured image.
                          </p>
                        </div>
                      </div>
                      <div class="content">
                        <div class="col-xs-8 col-sm-6">
                          <img src="{{ url_for('static', filename='img/azure.jpg') }}" class="preview_image">
                        </div>
                        <div class="col-xs-4 col-sm-6">
                          <h3 class="work_header">Training with Microsoft Azure</h3>
                          <p>
                            Using the dataset we generated, we used a combination of <b>Project Oxford Computer Vision APIs</b> and <b>OpenCV's</b> ORB algorithm to extract features out of the random images we had people
                            look at. 
                            Then, we used <b>Microsoft Azure Machine Learning</b> to train a One vs. All multiclass classifier that utilized a Two-Class Linear Support Vector Machine. We chose a Linear SVM over Decision Trees/Forests/Jungles because of the high-dimensional feature space generated by the computer vision algorithms.
                          </p>
                        </div>
                      </div>
                      <div class="content">
                        <div class="col-xs-8 col-sm-6">
                          <img src="{{ url_for('static', filename='img/twitter-api.jpg') }}" class="preview_image">
                        </div>
                        <div class="col-xs-4 col-sm-6">
                          <h3 class="work_header">Mining Regional Data from Twitter</h3>
                          <p>
                            We utiized the <b>TwitterSearch API</b> to mine images tweeted by users in each of the 50 states. 
                            All of these images were then processed with the same feature extraction algorithms that 
                            were used in training our classifier. 
                          </p>
                        </div>
                      </div>
                      <div class="content">
                          <div class="col-xs-8 col-sm-6">
                            <img src="{{ url_for('static', filename='img/us_map.svg') }}" class="preview_image">
                          </div>
                          <div class="col-xs-4 col-sm-6">
                            <h3 class="work_header">Classifying and Displaying Data</h3>
                            <p>
                              With the features extracted from the images mined from Twitter, we used our classifier to determine the emotion reflected by the image. Aggregating the images of each state, we determine the emotional state of each region and visualize it on a map.
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        
    </div>   
  </div>

</body>

  <!--   Core JS Files   -->
  <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>

  <!--  Checkbox, Radio & Switch Plugins -->
  <script src="{{ url_for('static', filename='js/bootstrap-checkbox-radio-switch.js') }}"></script>

  <!--  Charts Plugin -->
  <script src="{{ url_for('static', filename='js/chartist.min.js') }}"></script>

  <!--  Notifications Plugin    -->
  <script src="{{ url_for('static', filename='js/bootstrap-notify.js') }}"></script>

  <!--  Google Maps Plugin    -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
  <script src="{{ url_for('static', filename='js/light-bootstrap-dashboard.js') }}"></script>

  <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
  <script src="{{ url_for('static', filename='js/demo.js') }}"></script>
  
  <script type="text/javascript">
      $(document).ready(function(){
          
          demo.initChartist();
            
      });
  </script>
    
</html>